[submodule "site-lisp/emacs-cake2"]
	path = site-lisp/emacs-cake2
	url = git@github.com:k1LoW/emacs-cake2.git
[submodule "site-lisp/Pymacs"]
	path = site-lisp/Pymacs
	url = git@github.com:pinard/Pymacs.git
[submodule "site-lisp/anything"]
	path = site-lisp/anything
	url = git@github.com:haxney/anything.git
[submodule "site-lisp/historyf"]
	path = site-lisp/historyf
	url = git@github.com:k1LoW/emacs-historyf.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
